#members{
    border: 4px solid White;
    height: 420px ;
    width: 600px;
    margin: 20px auto;
    text-align: center;
    background: black;
    color: white;
    border-radius: 20px;
    
}
.social{
	width:40px;
	
}
.social:hover{
	opacity: 0.8;
	filter: alpha(opacity=80); /* For IE8 and earlier */
}

@media only screen and (max-width: 400px){
	
	#members{
    border: 4px solid White;
    height: 420px ;
    width: 300px;
    margin: 0px auto;
	}
	.social{
	width:30px;
}

}

table {
  border-collapse: collapse;
  width: 100%;
}

th, td {
  padding: 8px;
  text-align: left;
  text-align:center;
}
tr.alt td
{
  border-top: 1px solid #ddd;
}